/*===== GOGGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #222;
    font-family: 'Rubik', Arial, sans-serif;
}

main {
    flex: 1 0 auto;
}

/*===== NAV BAR =====*/
.brand-logo {
    background-image: linear-gradient(0deg,#ffe0b2 50%,transparent 50%);
    background-color: #4db6ac;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    letter-spacing: .07rem;
}

.nav-list a{
    color: #222 !important;
    font-weight: 400;
    letter-spacing: .07rem;
}

.sidenav {
    height: 100vh;
}

/*===== HEADINGS =====*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.heading {
    letter-spacing: .07rem;
}

/*===== SEARCH BAR =====*/

.search-bar{
    margin: 5rem 0 !important;
}

/*===== NEWLY ADDED SECTION =====*/

.card-image {
    box-shadow: -.65rem .65rem 0 rgba(255, 224, 178, .5);
}

.card-image:hover {
    transition: all 0.5s ease-out;
    box-shadow: -.65rem .65rem 0 rgb(255, 224, 178);
    border: 1px solid #cccccc;
}

.heading span {
    background-image: linear-gradient(0deg,#ffeeda 50%,transparent 50%);
}

/*===== ADD COMMENT MODAL =====*/

.modal-comment{
    width: 40rem;
}

.starwidget {
    padding-right: 60%;
}

.starwidget input {
    display: none;
}

.starwidget label {
    font-size: 1.5rem;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.starwidget input:not(:checked) ~ label:hover,
.starwidget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

/*===== USER PROFILE PAGE =====*/

.added-books a {
    color: #4db6ac !important;
}
.comment-part {
    text-transform: uppercase;
    background-image: linear-gradient(0deg,#b2dfdb 50%,transparent 50%);
}

.comments-btns {
    padding-top: 1rem;
}

/*===== GENRES PAGE =====*/

.genre-book {
    display:none;
}

.genre-book:nth-child(-n+7){
    display:block;
}

.genre-book img {
    width: 100%;
}

.genre-link a{
    color: #4db6ac !important;
}

.genre-link{
    padding-top: 2rem !important;
}

.genre-name {
    border-bottom: 2px solid #b2dfdb;
    margin-bottom: 2rem;
}

.genre-name span {
    background-image: linear-gradient(0deg,#b2dfdb 50%,transparent 50%);
}

/*===== BOOK PROFILE =====*/

.container.book-profile {
    padding-top: 2rem;
}

.book-profile h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.book-profile h3 span {
    background-image: linear-gradient(0deg,#ffeeda 50%,transparent 50%);
}

.book-profile h4{
    font-size: 1rem;
}

.book-profile h4 span {
    color:  #888 !important;
}

.book-profile h4 a {
    color: #222 !important;
    text-decoration: none;
    border-bottom: 1px solid #4db6ac;
}

span.card-title {
    display:block;
    width: 50%;
    background-image: linear-gradient(to right, #ffeeda , white);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .07rem;
}

/*===== FOOTER =====*/

footer {
    padding-top: 0 !important;
}