{% extends "base.html" %}
{% block content %}
        <div class="book-profile-row row">
            <div class="col s3">
                <img class="book-profile-img" src="{{ find_book_id.book_cover_link }}">
            </div>
            <div class="book-profile col s9">
                <h3><span>{{ find_book_id.book_name }}</span></h2>
                <h4><span>By </span><a href="{{ url_for('get_author_books', author_name = find_book_id.author_name) }}">{{ find_book_id.author_name }}</a></h4>
                <p class="teal-text text-lighten-2">{{ find_book_id.category_name }}</p>
                <a class="btn-small teal lighten-2" href="#"><i class="white-text text-white text-shadow fab fa-amazon "></i></a>
                <p>{{ find_book_id.book_description }}</p>
                {% if session.user %}
                    <a class="btn-small teal lighten-2 modal-trigger comment-btn" href="#modaladdcomment">Add Comment <i class="far fa-comment-dots"></i> </a>
                {% else %}
                    <a class="btn-small teal lighten-2 modal-trigger comment-btn disabled" href="#">Login/Register To Add Comment <i class="far fa-comment-dots"></i> </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4><span class="card-title text-shadow"> Comments</span></h4>
                        </li>
                        {% for comment in check_comments %}
                            {% if comment.book_name == find_book_id.book_name %}
                                <li class="collection-item">
                                    <p>{{ comment.username}} / reated: {{ comment.given_rate}}</p>
                                    <p> {{ comment.added_comment}} </p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="modaladdcomment" class="modal modal-comment">
                        <div class="modal-content">
                            <form method="POST" action="{{ url_for('add_comment', book_id=find_book_id._id, book_name=find_book_id.book_name) }}">
                                <header>Rate This Book:</header>
                                <div class="row starwidget">
                                    <input type="radio" name="rate" id="rate-5" value="5" class="browser-default">
                                    <label for="rate-5" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-4" value="4" class="browser-default">
                                    <label for="rate-4" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-3" value="3" class="browser-default">
                                    <label for="rate-3" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-2" value="2" class="browser-default">
                                    <label for="rate-2" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-1" value="1" class="browser-default">
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div>
                                <div class="row input-field">
                                    <textarea name="comment_area" id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Add Comment Here</label>
                                </div>
                                <button class="btn-flat teal lighten-2 modal-close" type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
{% endblock %}
