{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align teal-text text-lighten-2">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <span class="card-title teal-text text-lighten-2">
                    Added Books
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Added Comments</h4></li>
                {% for comment in check_comments %}
                    {% if session.user|lower == comment.username|lower  %}
                        <li class="collection-item">
                            <div class="col s12 m4 l8">
                                <p>{{ comment.book_name}}</p>
                                <p>Rated: {{ comment.given_rate}}</p>
                                <p>Comment: {{ comment.added_comment}}</p>
                            </div>
                            <div class="col s12 m4 l4">
                                <a href="#" class="btn-small red darken-3">Delete</a>
                                <a href="#" class="btn-small modal-trigger light-blue lighten-1">Edit</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor%}
            </ul>
        </div>
    </div>

{% endblock %}